git+https://github.com/CHIMEFRB/fitburst.git#egg=fitburst
oscfar
pandas
numpy==2.2.6
google-api-python-client
gspread
google-auth
plotly
matplotlib
PyQt6
img2pdf
h5py
caput @ git+https://github.com/radiocosmology/caput.git@7625b5ecd6d5787c67b8be4a76b31f2b8adc6097
tenacity
chime_frb_constants
chime_frb_api
astropy
corner
emcee
discord.py
tqdm
poetry
dotenv
spinmob
pint
ipywidgets
zarr<3
pyperclip
uncertainties
